@import url("standards.css");

#main_screen{
    width: 80vw;
    background: #1c51ff;
    background: linear-gradient(20deg, rgba(28, 81, 255, 0.7) 0%, rgba(148, 52, 217, 0.7) 100%);
    margin: 0 auto;
    padding-bottom: 1vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header{
    background-color: rgb(255, 255, 255);
}

#header ul{
    list-style-type: none;
    display: flex;
    margin: 0;
}

#header li{
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1vh 0;
}

#banner{
    width: 80vw;
    height: 15vh;
    background-color: royalblue;
    margin: 0;
    display: flex;
}

#display li{
    list-style-type: none;
    margin: 0;
}

#display ul{
    list-style-type: none;
    padding: 0;
}

.post{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3px 50px 5px;
    display: flex;
    flex-direction: column;

    margin: 15px 40px;
    
    /*Math for custom post display shape*/
    clip-path: polygon(
        /*Top Left*/
            var(--corner)               0%,
            calc(100% - var(--corner))  0%,
        /*Top Right*/
            100%                        var(--corner),
            100%                        calc(100% - var(--corner)),
        /*Bottom Right*/
            calc(100% - var(--corner))  100%,
            var(--corner)               100%,
        /*Bottom Left*/
            0%                          calc(100% - var(--corner)),
            0%                          var(--corner)
    );

    --corner: 1.5em;
}

.post h1{
    font-family: var(--primary-font);
    font-size: var(--post-title-size);
    font-weight: var(--post-title);
}

.timestamp{
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
}

hr{
    color: black;
    margin: 0;
}