{% extends "frontend/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('frontendBP.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div id = "main_screen">
    <div id = "banner">
        <img src="#" >
    </div>
    
    <nav id = "header">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Me</a></li>
        </ul>
    </nav>
    <div id = "display">
        <ul>
        {% for entries in data %}
            <li>
                <strong>{{ entries.title }}</strong> - {{ entries.created_at }}<br>
                {{ entries.body }}
            </li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}