{% extends "frontend/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('frontendBP.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div id = "main_screen">
    <img src="#" id = "banner">
    <nav id = "header">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Me</a></li>
        </ul>
    </nav>
    <div id = "display">
        <ul>
        {% for entries in data %}
            <li>
                <div class = "post">
                    <h1 class = "post_title">{{ entries.title }}</h1>
                    <hr>
                    <p class = post_body>{{ entries.body }}</p>
                    <i><p class = timestamp>{{ entries.created_at }}</p></i>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}